<div class="container-fluid">
    <div class="row" id="header">
        <div class="col-md-7 mx-auto mt-6 text-center">
            <div>
                <img src="./../../sources/imgs/logo.png" width="670" class="img-fluid">
            </div>
            <div>
                <p class="text-white title">
                    <strong>¿Sos un amante de viajar?</strong> Ayúdanos a darle algunos consejos a otros viajeros gracias a
                    <strong>tus experiencias y aventuras</strong>.
                </p>
            </div>
            <div>
                    <img src="./../../sources/imgs/estrellas.png" width="300" class="img-fluid">
            </div>
            <div>
                <button class= "Tittle text-white mt-5">Probálo</button>
            </div>
        </div>
    </div>
</div>